@font-face { font-family: ConversationFont; src: url("../font/PokemonGB.ttf"); } 

body {margin:0;}

canvas {
    position:absolute;
    top:10;
    left:10;
}

.loadCanvas {}

.battleCanvas {}

.worldCanvas {
    background-color:black;
}

.info {position:absolute; top:780; left:10;}
