@font-face { font-family: Delicious; src: url("../font/pokemon_pixel_font.ttf"); } 

body {margin:0;}

canvas {
    position:absolute;
    top:10;
    left:10;
}

.worldCanvas {background-color:black;}

.battleCanvas {}

.info {position:absolute; top:780; left:10;}
