<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    
    <link rel="author" href="humans.txt">
    
    <!-- OPEN GRAPH -->
    {% if page.title %}
        <meta property="og:title" content="{{ page.title }}">
    {% else %}
        <meta property="og:title" content="sios13">
    {% endif %}
    
    <meta property="og:url" content="{{ site.url }}">
    
    {% if page.id %}
        <meta property="og:description" content="{{ page.content }}">
    {% else %}
        <meta property="og:description" content="{{ site.description }}">
    {% endif %}
    
    {% if page.image %}
        <meta property="og:image" content="{{ site.url }}/images/{{ page.image }}">
    {% else %}
        <meta property="og:image" content="{{ site.url }}/images/logo.png">
    {% endif %}
    
    <meta property="og:type" content="article">
</head>
